/* :root {
  --background-color: linear-gradient(#1b1b4b, #0b0b22);
  --accent-color: #9130ce;
  --title-color: #323267;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: var(--background-color);
} */
